.card-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 15px;
  background-color: rgb(230, 243, 243);
 

}

.card {
  border: 1px solid #241c1c;
  /* height: 600px; */
  width:390px;
  margin: 30px;
  background-color: rgb(218, 241, 241);

}

.card-image {
  width: 360px;
  height: 405px;
  padding: 15px;
}

.card-content {
  color: rgb(118, 16, 235);
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

label {
  margin-bottom: 8px;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
 justify-content: center;
}

button:hover {
  background-color: #0056b3;
}